// My Variables //

// Colors
$dark:        #242832;
$light:       #ffffff;
$light-part:  rgba(255, 255, 255, 0.75);
$accent:      #1de9b6; // #00b0ff
$accent-part: rgba(29, 233, 182, 0.50);
// $accent-fade: rgba(29, 233, 182, 0.05);
$accent-alt:  #00bfa5;
